<div>
  <h2>Product List</h2>
  <button mat-raised-button color="primary" (click)="newProduct()" class="button-new">New Product</button>
  <br/>
  <ul>
    <li *ngFor="let product of products$ | async" (click)="selectProduct(product)">
      {{ product.name }} - {{ product.price | currency }}
      <button mat-button color="warn" class="button-cancel" (click)="deleteProduct(product.id); $event.stopPropagation()">Delete</button>
    </li>
  </ul>
</div>

<div *ngIf="selectedProduct">
  <mat-card class="form-card">
    <mat-card-title>{{ selectedProduct.id ? 'Edit' : 'New' }} Product</mat-card-title>
    <br />
    <mat-card-content>
      <form (ngSubmit)="saveProduct()">
        <mat-form-field appearance="fill" class="mdc-text-field">
          <br />
          <mat-label>Name</mat-label>
          <br />
          <input matInput [(ngModel)]="selectedProduct.name" name="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="mdc-text-field">
          <mat-label>Price</mat-label>
          <input matInput type="number" [(ngModel)]="selectedProduct.price" name="price" required>
        </mat-form-field>
        <mat-form-field appearance="fill" class="mdc-text-field">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="selectedProduct.description" name="description"></textarea>
        </mat-form-field>
        <button  mat-raised-button color="success" class="button-save" type="submit">Save</button>
        <button mat-button type="button" class="button-cancel" (click)="cancel()">Cancel</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
